body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#jump-bar {
    top: 0;
    position: sticky;
    padding: 1rem;
    /*border: 1px solid black;*/
}

.apa-reference {
    padding-left: 40px;
}

.apa-reference:first-letter {
    margin-left: -40px;
}
.block-quote {
    padding: 25px;
}

main {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 70%;
    /*border: 1px solid black;*/
}